html,
body{
    height: 100%;
    widows: 100%;
    margin: 0;
}
#map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    position: absolute;
   }